<%- include('../layouts/header'); -%>

<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-12 offset-md-2 offset-lg-3">
        <div class="card">
            <div class="card-header">Patient List</div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio &nbsp;&nbsp; <button class="btn btn-success btn-sm">Vital Sign</button></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); -%>

<script>
    (function () {
        $('head title').html('Patient List')
    })()
</script>